* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Baroness Kuffner";
    word-spacing: 1pt;
    letter-spacing: 1pt; 
    user-select: none;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.element::-webkit-scrollbar {
    display: none;
}

html {
    --header-height: 100px;
    --particle-size: 0.4rem;
    --gradient-color: rgb(243, 177, 56);
    --gradient-blend-mode: normal;
    --particles-blend-mode: screen;
    --base-color: rgb(250, 225, 101);
    --dark-color: rgb(58, 27, 11);
    --font-size1: calc((2.5vw + 2.5vh) / 2);
    --font-size2: calc((2vw + 2vh) / 2);
    --info-color: rgb(81, 40, 2);
    --info-color-hover: rgb(90, 52, 16);
    --content-page-border: 5px solid var(--base-color);
    --background-mix-color: rgb(255, 85, 0);
}

img {
    border-radius: 8px;
}

p {
    margin: 0;
    padding: 0;
}

*[data-fill] {
    width: 100%;
    height: 100%;
}

*[data-cover] {
    object-fit: cover;
}

*[data-contain] {
    object-fit: contain !important;
}

*[data-disable-events] {
    pointer-events: none;
}

*[data-transparent-overflow] {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(rgba(39, 12, 2, 0.8), transparent);
}

.content-wrapper {
    width: 100%;  
    height: 100%;  
    min-height: 500px;
    padding: calc(var(--header-height) * 1.5) 20%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

#background-wrapper {
    position: absolute;
    overflow: hidden;
    background-color: var(--background-mix-color)
}

#site-background {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
}

#site-gradient {
    pointer-events: none;
    position: absolute;
    background: radial-gradient(transparent 35%, var(--gradient-color));
    z-index: 1;
    opacity: 0.8;
    mix-blend-mode: var(--gradient-blend-mode);
}

#site-particles {
    pointer-events: none;
    mix-blend-mode: var(--particles-blend-mode);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 2;
}

.particle {
    position: absolute;
    height: var(--particle-size);
    width: var(--particle-size);
    background-color: var(--gradient-color);
    z-index: 3;
    left: calc(50% - var(--particle-size) / 2);
    border-radius: 1000px;
}

#header-wrapper {
    height: 50%;
    gap: 0;
    display: flex;
    position: relative;

    > * {
        opacity: 0;
        animation: fade-in 0.6s ease forwards;
    }

    :nth-child(0) { animation-delay: 0.05s; };
    :nth-child(1) { animation-delay: 0.1s; };
    :nth-child(2) { animation-delay: 0.15s; };
    :nth-child(3) { animation-delay: 0.2s; };
    :nth-child(4) { animation-delay: 0.25s; };
    :nth-child(5) { animation-delay: 0.3s; };
    :nth-child(7) { animation-delay: 0.35s; };
    :nth-child(8) { animation-delay: 0.4s; };
}

.header-option, #header-separator {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-size: var(--font-size2);
    height: 100%;
    width: 10%;
    display: inline-flex;
    transition: border-bottom 0.4s ease;
    padding: 8px;
    border-bottom: 4px solid transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header-separator {
    width: 30%;
}

.header-option:hover {
    cursor: pointer;
    border-bottom: 4px solid var(--base-color);
}

.header-option > * {
    height: 100%;
}

.header-option > img {
    object-fit: cover;
}

.section-wrapper {
    width: 100%;
    height: 100%;
}

.content-page {
    animation: fade-in 0.8s ease;
    transition: background-color 0.2s ease;
    padding: 2%;
    width: 100%;
    height: 100%;
    background-color: var(--info-color);
    display: flex;
    flex-wrap: wrap; 

    * {
        color: white;
    }

    > * {
        display: inline-flex;
    }

    > div {
        justify-content: center;
        z-index: 1;
        display: flex;

        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    > p {
        box-sizing: border-box;
        padding: 2%;
        font-size: var(--font-size1);
    }
}

.content-page:hover {
    background-color: var(--info-color-hover);
}

.content-page[data-align="top"] {
    border-top: var(--content-page-border);

    > div {
        width: 100%;
        height: 60%;
    }
    
    > p {
        height: 40%;
    }
}

.content-page[data-align="left"] {
    border-left: var(--content-page-border);

    > div {
        width: 50%;
        height: 100%;
    }
    
    > p {
        width: 50%;
        height: 100%;
    }
}

.content-page[data-align="right"] {
    flex-direction: row-reverse;
    border-right: var(--content-page-border);

    > div {
        width: 50%;
        height: 100%;
    }
    
    > p {
        width: 50%;
        height: 100%;
    }
}

.separator {
    top: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(rgba(136, 72, 0, 0.8), transparent);
    border-top: var(--content-page-border);
    z-index: 3;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@font-face {
    font-family: "Baroness Kuffner";
    src: url("./fonts/BaronessKuffner.ttf");
}

@font-face {
    font-family: "Roman Antique";
    src: url("./fonts/RomanAntique.ttf");
}