* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Baroness Kuffner";
    --header-height: 120px;
    --particle-size: 16px;
    --gradient-color: rgb(242, 148, 8);
    --gradient-blend-mode: normal;
    --particles-blend-mode: screen;
    --base-color: rgb(255, 213, 0);
    --dark-color: rgb(58, 27, 11);
}

*[fill] {
    width: 100%;
    height: 100%;
}

*[cover] {
    object-fit: cover;
}

*[disable-events] {
    pointer-events: none;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}

#content-wrapper {
    display: inline-block;
    position: absolute;
}

#background-wrapper {
    position: absolute;
    overflow: hidden;
    background-color: rgb(255, 85, 0);
}

#site-background {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
}

#site-gradient {
    position: absolute;
    background: radial-gradient(transparent, var(--gradient-color));
    z-index: 1;
    opacity: 0.8;
    mix-blend-mode: var(--gradient-blend-mode);
}

#site-particles {
    mix-blend-mode: var(--particles-blend-mode);
    position: absolute;
    z-index: 2;
}

.particle {
    position: absolute;
    height: var(--particle-size);
    width: var(--particle-size);
    background-color: var(--gradient-color);
    z-index: 3;
    top: calc(50% - var(--particle-size) / 2);
    left: calc(50% - var(--particle-size) / 2);
}

.title {
    display: flex;
    position: relative;
    font-family: "Baroness Kuffner";
    font-size: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#header-wrapper {
    height: 50%;
    gap: 0;
    display: flex;
    position: relative;

    * {
        letter-spacing: 1pt;
    }
}

.header-option {
    margin-top: 10px;
    color: white;
    font-size: 22pt; /* 18px con la sans */
    height: 100%;
    width: 10%;
    display: inline-flex;
    transition: border-bottom 0.4s ease;
    padding: 8px;
    border-bottom: 4px solid transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-option:hover {
    cursor: pointer;
    border-bottom: 4px solid var(--base-color);
}

.header-option > * {
    height: 100%;
}

.header-option > img {
    object-fit: cover;
}

@font-face {
    font-family: "Baroness Kuffner";
    src: url("./fonts/BaronessKuffner.ttf");
}